.markdown-body ul,
.markdown-body ol {
  padding-left: 1.5em !important;
}

.markdown-body ul {
  list-style-type: disc !important;
}

.markdown-body ol {
  list-style-type: decimal !important;
}

.markdown-body ul ul {
  list-style-type: circle !important;
  padding-left: 1.5em !important;
}

.markdown-body ul ul ul {
  list-style-type: square !important;
}

.markdown-body li {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}
